vendor/
.env
.env.local
.env.example
.env.production
.env.development
.env.testing
node_modules/
storage/app/public
storage/framework
storage/logs
.DS_Store
.vscode/
.idea/
.agent/
.github/
.cursor/
.antigravity/
.gemini/
.claude/
